html{
    background:gray;
}

body{
    margin:0 auto;
    font-family:sans-serif;
    font-weight:200;
    letter-spacing:0.5px;
    min-height:700px;
    width:100%;
    z-index:-10;
}

.content{
    margin:15% auto;
    position:relative;
    width:60%;
    font-size:1.8em;
    background-color:#FFFFFF;
    opacity:0.5;
    padding:30px;
}

.header{
    text-align:center;
}
.header span{
    font-size:2em;
}
.header p{
    font-size:0.8em;
}

.info{
    text-align:center;
    margin-top:30px;
}